*{
    margin:0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    display:flex;
    margin-right: 840px; 
    margin-top:5px;
    background-color: aquamarine; 
    font-size:30px;
    padding:20px;
    border-radius:10px;
    
}

nav {
    background: linear-gradient(rgb(5, 0, 80), darkblue, black);
    height:100px
}


ul {
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
}

li{
    display:flex;
    justify-content:flex-end;
    padding:10px;
    color:aquamarine;
    font-size:larger;
    margin-top: 25px;
}

li:hover{
    cursor:grab;
    color:white;
    text-decoration: underline;

}

li:active{
    cursor:grabbing;
    color:grey;

}

.bluebg {
    width:100%;
    height:400px;
    z-index: -1;
    
    
}

.imgtext {
    color:white;
}



aside{
    background-color: transparent;
    padding:20px;
}

main{
    height:500px;
    background-color: transparent;
}

footer ul {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    font-size:20px;
    font-weight: bolder;    
}

